 /* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

body {
  text-align: center;
  background-color: #134d71;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#title {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff
}

#sub-title {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff
}



/* input.receive-message {
  font-family: 'Quicksand',sans-serif;
} */

.radio-box {
  font-family: 'Quicksand',sans-serif;
  border-radius: 10px;
  margin: 100px auto 10px auto;
  height:100px;
  width:600px;
  background-color: #ffffff
}
.image-box {
  border-radius: 10px;
  margin: 125px auto 10px auto;
  height:150px;
  width:900px;
  background-color: #ffffff
}
}
