 /* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-attachment: fixed;
  text-align: center;
}

.text-italic {
font-style: italic;
}

.quicksand {
font-family: 'Quicksand', sans-serif;
}

.text-red {
  color: red
}

.title {
  color: #ffffff
}

.hidden {
  display: none!important;
}

.input-flex {
  display: flex;
  justify-content: space-around;
}

.radio-box {
  border-radius: 10px;
  margin: 100px auto 10px auto;
  height:90px;
  width:575px;
  background-color: #ffffff
}

.image-box {
  border-radius: 10px;
  margin: 125px auto 10px auto;
  height:150px;
  width:875px;
  background-color: #ffffff
}

.gong-image {
max-width: 50%;
max-height: 50%;
margin-top: 37px
}

p {
  font-color: #000000;
  font-size: 14pt;
  text-align: center;
}
